.main-footer {
    display: flex;
    background-color: rgba(80, 79, 79, 0.757);
    color: rgb(16, 15, 15);
}

.logo {
    width: 20%px;
    height: auto;
    margin-left: 20px;
    margin-top: 1.5%;
}

.text1 {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 20%;

}

.love {
    color: red;
}

.social {
    width: 20px;
    display: flex;
    margin-top: 3.5%;
    margin-left: 10%;
}

.copyright {
    margin-bottom: 5px;
    margin-top: 5px;
}

.privacy {
    margin-top: 10px;
}

.img1 {
    margin-left: 15px;


}

.img1:hover {
    cursor: pointer;
}

button {
    background-color: rgb(15, 16, 16);
    height: 40px;
}

.image1 {
    margin-top: 5%;
    margin-left: 3%;

}
span{
    color: red;
}